<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chameleon.rentcollectnew">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RentCollectNew">
        <activity android:name=".activities.BankTransferActivity"></activity>
        <activity android:name=".activities.OfferActivity" />
        <activity android:name=".activities.PastPayments" />
        <activity android:name=".activities.TotalDueReceipt" />
        <activity android:name=".activities.TotalDue" />
        <activity android:name=".activities.NotYou" />
        <activity android:name=".activities.TenantDetailsActivity" />
        <activity android:name=".activities.EnterPhoneNumber" />
        <activity android:name=".activities.TermsAndConditions" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>